# Homebrew
alias brewup='brew update; brew upgrade; brew prune; brew cleanup; brew doctor'

# aliases
alias cp='cp -iv'
alias mv='mv -iv'
alias fix_stty='stty sane'
alias path='echo -e ${PATH//:/\\n}'

alias d.='cd ..'
alias d..='cd..'
alias cdd='cd'
alias cd..='cd..'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../..'
alias ~='cd ~'
alias s='sudo'
alias se='sudo env PATH="$PATH"'

alias sa='source activate'
alias sd='source deactivate'

alias j='jobs'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color=auto"
else # OS X `ls`
    colorflag="-G"
fi

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# pagers
alias lss='less -FSRXc'
alias zm='zmore'
alias zl='zless -Sc'
alias zc='zcat'
alias zh='zhead'

# dir stuff 
alias d='cd'
alias md='mkdir -pv'
alias rmr='rm -r -f'

# list-dirs
alias ls='ls -Fhp ${colorflag}'
alias l='ls'
alias ll='l -l'
alias la='ll -a'
alias lla='ll -a'
alias lsd="ll | grep --color=never '^d'"

# permissions
alias s='sudo'
alias ax='chmod a+x'

# edit
alias e='vim'
alias ge='gvim'
alias vi='vim'

# count stuff?
alias wcc='wc -c'
alias wcl='wc -l'

#
# do bioinformatics?
alias tb='tabix'
alias st='samtools'
alias bt='bcftools'
alias vt='vcftools'

# processes
alias t='htop'
alias ht='htop'
alias top='htop'
alias topu='htop -u $(whoami)'

# misc
alias hs='history | grep $1'
alias c='clear'
alias g='git'

# Add tab completion for many Bash commands
if which brew > /dev/null && [ -f "$(brew --prefix)/share/bash-completion/bash_completion" ]; then
    source "$(brew --prefix)/share/bash-completion/bash_completion";
elif [ -f /etc/bash_completion ]; then
    source /etc/bash_completion;
fi;
